/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
font-family: 'Merriweather Sans', Helvetica, Arial, sans-serif;
background-color: #fff;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* ESTILOS BÁSICOS */
h1,h2,h3,h4,h5,h6 {
	text-transform: uppercase;
}
input, select {
width: 100%;
border-radius: 3px;
border: 1px solid #f1f1f1;
line-height: 120%;
padding: 1%;
font-size: 120%;
transition: .5s ease all;
background: rgba(255,255,255,.9);
}
input::placeholder {
color: gray;
}
a, a:hover, a:focus, a:active, .btn, .btn:hover, .btn:active, .btn:focus {
transition: .5s ease all;
}
p {
font-family: 'Merriweather Sans', Helvetica, Arial, sans-serif;
display: block;
margin: 1em 0;
line-height: 1.4;
text-align: justify;
}
/*INPUT CHECK*/
input[type|=check] {
display: inline-block;
width: auto;
}
label[for|=check] {
font-family: 'Merriweather Sans', Helvetica, Arial, sans-serif;
font-weight: normal;
display: inline-block;
}
/* INPUT NUMBER SIN FLECHAS */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
margin: 0; 
}

/* Especial */

/*
** MENU 
*/
menu {
    margin: 0 0 2em;
}
.red-dot {
	color: #EA4748
}
.navbar-default {
    background-color: #fff;
    border-color: transparent;
    border-bottom-color: #EA4748;
}
.navbar-header {
    padding-bottom: 2em;
}
.navbar-default .navbar-brand {
    color: #333;
    font-size: 21px;
    font-weight: 700;
	padding-left: 0;
}
.navbar-default .navbar-collapse {
    padding: 0;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #EA4748
}
.btn {
    border-color: #EA4748;
    background-color: #EA4748;
    color: #fff;
}
.btn.search {
	float: right;
	margin-top: 8px;
    margin-left: 15px;
    margin-bottom: 8px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
    border-bottom: 2px solid #EA4748;
}
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 30px;
    text-transform: uppercase;
    font-size: 85%;
    border-bottom: 2px solid transparent;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    border-bottom: 2px solid #EA4748;
}

/*
** HEADER
*/
header {
    margin-bottom: 30px;
}
header .box {
    margin-bottom: 25px;
    max-height: 275px;
    overflow: hidden;
    position: relative;
}
header .box img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    transition: .5s ease all;
}
header .box:hover img {
    opacity: .7;
    transition: .5s ease all;
}
header .box.big {
    max-height: 550px;
}
header .box.pop:before {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #EA4748;
	content: 'Popular.';
	padding: 10px 30px;
	color: #fff;
	z-index: 1;
}
